
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static  'blog/css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <nav>



     <a href="{% url 'home' %}"> HOME </a>
     <a href="{% url 'create' %}"> CREATE NEW POST </a>
     <a href="{% url 'about' %}"> ABOUT </a>
     <a href="{% url 'contact' %}"> CONTACT </a>




     {% if user.is_authenticated %}


     <a href="{% url 'signout' %}" style="color:red;"> LOGOUT </a>

     <p  style=" color: yellow;    position: fixed; top: 0;  right:0; margin-right: 20px; font-style:bold;"  > Welcome , {{ request.user }}</p>


     {% else %}

     <a href="{% url 'signin' %}"style="color:green;"> LOGIN </a>
     <a href="{% url 'signup' %}"style="color:green;"> SIGNUP </a>



     {% endif %}





 </nav>

 <br>
 <br>


 <h1> PROGRAMMING LANGUAGES </h1>

 <img src="{% static  'blog/images/icon.png' %}" width="600px" height="550px">

 <div class="text">
 {% for post in posts %}
   <h3> {{ post.title }} <a href="{% url 'delete' id=post.id %}" style="color:red; font-size:12px;"> DELETE  </a></h3>
   <p> {{post.text }}</p>


 {% endfor %}
</div>

</body>
</html>